{% extends "projects/projects_container.html" %}
{% load cms_tags %}
{% load menu_tags %}
{% load thumbnail %}
{% load pagination_tags %}

{% block body %}
    <h1>{% show_breadcrumb 1 "efocms/leaf_breadcrumb.html" %}</h1>
    {% placeholder "listing_content" %}
    {% autopaginate projects 1 %}
    {% for project in projects %}
    <section class="project-list-item{% if forloop.last %} last{% endif %}{% if forloop.first %} first{% endif %}">
        <div class="project-list-item-content">
            <h2>{{ project.name }}</h2>
            <p>{{ project.summary }}</p>
            {% url project_view project.slug as project_detail_url %}
            <a href="{{ project_detail_url }}">Read more</a>
        </div>
        <div class="project-list-item-thumbnail">
            {% thumbnail project.summary_image "336x186" crop="center" as object_image %}
                {% with project as object %}
                    {% include "base/_object_thumbnail_anchor_image.html" %}
                {% endwith %}
            {% endthumbnail %}
        </div>
    </section>
    {% endfor %}
    {% paginate %}
{% endblock body %}
