{% extends "projects/projects_container.html" %}
{% load cms_tags %}
{% load thumbnail %}

{% block head_title %}
    EFO - Projects - {{ project.name }}
{% endblock %}

{% block extra_head %}
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/jquery/plugins/min/jquery.cycle.all.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
       $('#feature-images').cycle(); 
    });
</script>

{% endblock %}

{% block body %}
    {% placeholder "detail_content" %}
    <div id="feature-images" class="feature-image-container project">
        {% for image in project.slideshow_images %}
            <figure class="feature-image-figure">
                <a href="{{ MEDIA_URL}}{{ image.image }}" title="open image" class="open">
                {% thumbnail image.image "456x316" crop="center" as object_image %}
                    <img 
                        alt="{{ object_image.title }}"
                        src="{{ object_image.url }}"
                        width="{{ object_image.width }}" 
                        height="{{ object_image.height }}" 
                        class="full" />
                {% endthumbnail %}
                </a>
                <figcaption class="feature-image-caption">
                    <p>{{ image.caption }}</p>
                </figcaption>
            </figure>
        {% endfor %}
    </div>
    <h1>{{ project.name }}</h1>
    <div id="projectFactsBox">
       <ul> 
            {% if project.donors %}
                <li>
                    <strong>Donors: </strong>{{project.donors}}
                </li>
            {% endif %}
            {% if project.location %}
                <li>
                    <strong>Location: </strong>{{project.location}}
                </li>
            {% endif %}
            {% if project.date_started %}
                <li>
                    <strong>Date Started: </strong>{{project.date_started|date:"F Y" }}
                </li>
            {% endif %}
            {% if project.date_finished %}
                <li>
                    <strong>Date Completed: </strong>{{project.date_finished|date:"F Y" }}
                </li>
            {% endif %}
            {% if project.system_size %}
                <li>
                    <strong>System Size: </strong>{{project.system_size}} Watts
                </li>
            {% endif %}
            {% if project.direct_beneficiaries%}
                <li>
                    <strong>Direct Beneficiaries: </strong>{{project.direct_beneficiaries}}
                </li>
            {% endif %}
            {% if project.indirect_beneficiaries%}
                <li>
                    <strong>Indirect Beneficiaries: </strong>{{project.indirect_beneficiaries}}
                </li>
            {% endif %}
       </ul> 
    </div>
    <div id="project-spiele">
        {{ project.spiele|safe }}
    </div>
{% endblock body %}
