/* HTML 5 Reset
----------------------------------------------------------------*/
    /* 
    html5doctor.com Reset Stylesheet
    v1.6.1
    Last Updated:2010-09-17
    Author:Richard Clark - http://richclarkdesign.com 
    Twitter:@rich_clark
    */
    html,body,div,span,object,iframe,
    h1,h2,h3,h4,h5,h6,p,blockquote,pre,
    abbr,address,cite,code,
    del,dfn,em,img,ins,kbd,q,samp,
    small,strong,sub,sup,var,
    b,i,
    dl,dt,dd,ol,ul,li,
    fieldset,form,label,legend,
    table,caption,tbody,tfoot,thead,tr,th,td,
    article,aside,canvas,details,figcaption,figure,
    footer,header,hgroup,menu,nav,section,summary,
    time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
    body{line-height:1;}
    article,aside,details,figcaption,figure,
    footer,header,hgroup,menu,nav,section{display:block;}
    nav ul{list-style:none;}
    blockquote,q{quotes:none;}
    blockquote:before,blockquote:after,
    q:before,q:after{content:'';content:none;}
    a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}
    /* change colours to suit your needs */
    ins{background-color:#ff9;color:#000;text-decoration:none;}
    /* change colours to suit your needs */
    mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
    del{text-decoration:line-through;}
    abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
    table{border-collapse:collapse;border-spacing:0;}
    /* change border colour to suit your needs */
    hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}
    input,select{vertical-align:middle;}


/* Settings
------------------------------------------------------------ */

    /* Fonts */
    @font-family: Arial, Helvetica, Geneva, sans-serif;
    @font-family-alt: Georgia, 'Times New Roman', Times, serif;
    @font-size: 12px;
    
/* Colors
------------------------------------------------------------ */

    @base-type-color: rgb(51, 51, 51);
    @base-anchor-color: #3779B4;
    @base-body-color: #FFF;
    @base-background-shade: #F2F2F2;
    
    @black: rgb(51, 51, 51);
    @off-black: rgb(77, 77, 77);
    @soft-grey: rgb(204, 204, 204);
    @grey: rgb(130, 130, 130);
    
    @red: #D8172C;
    @yellow: #FFB713;
    
/* Styling Mixins
------------------------------------------------------------ */

    /* display */
    
        .hide{display:none;}
        .show{display:inherit;}
        
    /* buttons & links */
        .caps_button(@background-color:#333,@color:#fff,@radius:3px,@font-weight:600,){background-color:@background-color;color:@color;padding:0px 5px 0px 0px;margin-right:3px;margin-left:0px;.rounded(@radius);font-weight:@font-weight;text-transform:uppercase;font-family:@font-family-alt;}

    /* borders */
        
        /* default border style */
        .border (@stroke: 1px, @style: solid, @color: #e5e5e5){
            border: @stroke @style @color;
        }
        
        /* border utilities */
        .border-top(){.border();border-bottom:none;border-left:none;border-right:none;}
        .border-bottom(){.border();border-top:none;border-left:none;border-right:none;}
        .border-left(){.border();border-top:none;border-bottom:none;border-right:none;}
        .border-right(){.border();border-top:none;border-bottom:none;border-left:none;}
        
        /* rounded corners */
        .rounded(@radius:5px){-webkit-border-radius:@radius;-moz-border-radius:@radius;-o-border-radius:@radius;-khtml-border-radius:@radius;border-radius:@radius;behavior: url('/site_media/static/css/PIE.htc');}
        .rounded-bottom(@left-radius:5px,@right-radius:5px){.rounded-bottom-left(@left-radius);.rounded-bottom-right(@right-radius);}
        .rounded-bottom-left(@radius:5px){-webkit-border-bottom-left-radius:@radius;-moz-border-radius-bottomleft:@radius;border-bottom-left-radius:@radius;behavior: url('/site_media/static/css/PIE.htc');}
        .rounded-bottom-right(@radius:5px){-webkit-border-bottom-right-radius:@radius;-moz-border-radius-bottomright:@radius;border-bottom-right-radius:@radius;behavior: url('/site_media/static/css/PIE.htc');}
        .rounded-left(@top-left-radius:5px,@bottom-left-radius:5px){.rounded-top-left(@top-left-radius);.rounded-bottom-left(@bottom-left-radius);behavior: url('/site_media/static/css/PIE.htc');}
        .rounded-right(@top-right-radius:5px,@bottom-right-radius:5px){.rounded-top-right(@top-right-radius);.rounded-bottom-right(@bottom-right-radius);behavior: url('/site_media/static/css/PIE.htc');}
        .rounded-top(@left-radius:5px,@right-radius:5px){.rounded-top-left(@left-radius);.rounded-top-right(@right-radius);behavior: url('/site_media/static/css/PIE.htc');}
        .rounded-top-left(@radius:5px){-webkit-border-top-left-radius:@radius;-moz-border-radius-topleft:@radius;border-top-left-radius:@radius;behavior: url('/site_media/static/css/PIE.htc');}
        .rounded-top-right(@radius:5px){-webkit-border-top-right-radius:@radius;-moz-border-radius-topright:@radius;border-top-right-radius:@radius;behavior: url('/site_media/static/css/PIE.htc');}
        
        /* box shadows */
        .box-shadow(@x:0,@y:0, @z:5px, @color:#AAA){
            -webkit-box-shadow: @x @y @z @color;
            -moz-box-shadow: @x @y @z @color;
            box-shadow: @x @y @z @color;
            behavior: url('/site_media/static/css/PIE.htc');
        }
        
        /* tabs */
        .tabs(@active-bg:#fff,@link-bg:#ddd,@hover-bg:#eee, @active-color:#333,@link-color:#333,@hover-color:#333){padding:0;ul{position:relative;float:left;display:block;margin:0;padding:0;li.parent{}
        li.parent > a:after{position:relative;top:0px;left:8px ;content:"";z-index:999;width:0px;}li.parent > a:hover:after{position:relative;top:0px;left:8px ;content:"";z-index:999;width:0px;}
        li.parent > a:before{position:relative;content:"|";font-weight:200;right:-43px;z-index:999;}
        li{display :inline;float:left;list-style-type :none;margin :0 @column-gutter 0 0;padding :0;
        ul{position:absolute;background-color:#333;width:10em;left:-999em;z-index:9999;/*position:absolute;/*# (@row-gutter * 2) + @row-height;*/
        top:37px;li{background:@link-bg;display:inline;float:left;clear:left;margin:0;a{width:8em;}}
        li:last-child{.rounded-bottom(3px);a{.rounded-bottom(3px);}}
        li:hover{background:@hover-bg;}}}
        li:hover ul,li.sfhover ul{left:auto;}}
        a{margin:0;border:2px;padding:@row-gutter @column-gutter;}
        a:link,a:visited{background:@link-bg;color:@link-color;float :left;text-decoration :none;}
        a:link.active,a:visited.active{background :@active-bg;border-bottom :1px solid #fff;color :@active-color;}
        a:hover{background :@hover-bg;color :@hover-color;text-decoration:underline;}
        li.greyed{a{background-color:#ccc;color:#eee;}a:hover{background-color:#ccc;color:#eee;text-decoration:none;}}}

        /* horizontal rule borders */
        .hr-thick-top (@border-color: @real-black) {
            border-top: 3px solid @border-color;
        }
        .hr-thick-bottom (@border-color: @real-black) {
            border-bottom: 3px solid @border-color;
        }
        .hr-thin-top (@border-color: @light-grey-2) {
            border-top: 1px solid @border-color;
        }
        .hr-thin-bottom (@border-color: @light-grey-2) {
            border-bottom: 1px solid @border-color;
        }
        
    /* lists */
        /* turn a ul list into a @separator delimited nav list */
        .flatlist(@separator:'', @gutter:@inline-gutter) {
            list-style: none;
            padding: 0;
            margin: 0px;
            li {
                display: inline-block;
                .inline-column(@gutter);
            }
            li:first-child {
                .first();
            }
            li:last-child {
                .last();
            }
            li:after {
                content: @separator;
                display: inline-block;
                .inline-column(@gutter);
            }
            li:last-child:after {
                display: none;
            }

        }
          
    /* utilities */
        .font-smoothing(){-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;-o-font-smoothing:antialiased;font-smoothing:always 5px;}
        .opacity(@coeficient){-moz-opacity:@coeficient;opacity:@coeficient;-khtml-opacity:@coeficient;}
        
    /* fixes */    
        .clearfix,
        .clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0;}
        /* 
            apply this to an :after pseudo element
            e.g.
            element:after{.clearfix();}
        */
        .clearfix(){clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0;}
        .opacity(@coeficient){-moz-opacity:@coeficient;opacity:@coeficient;-khtml-opacity:@coeficient;}


    /* graphic elements */
        /* define graphic elements such as 'buttons' here */


/* Grids & Layout
------------------------------------------------------------ */

    /* Major Grid
    ---------------------------------- */
    
        @layout-body-width: 980px; /* site body */
        @layout-section-width: 960px; /* main content column */
        @layout-aside-width: 300px; /* aside column */
        
        /* 
            Major layout areas are separated by the layout gutter
            which is slightly larger, at 15px, than the section or
            aside gutter, at 10px.
        */
        
        @layout-gutter: 20px;
        @layout-gutter-large: 30px; 
        
        @layout-columns: 8;
        @layout-column-width: @layout-section-width / @layout-columns;
        @layout-column-gutter: @layout-gutter;
        
    
    /* Minor Grids
    ---------------------------------- */
    
        /*
            The following grid parameters are defined here as a
            useful reference, though specific 'px' values
            will/may be used as needed.
        */
        
        /* Sections 
        -------------------------------------------------- */
        @section-width: @layout-section-width; 
        @section-gutter: 20px;
        
        @section-columns: 8; 
        @section-column-width: @section-width / @section-columns;
        @section-column-gutter: @section-gutter;
        
        @section-row-height: @section-column-width; /* 40px */
        @section-row-gutter: @section-gutter; /* 20px */
        
        /* 
            Ideally, line-height is divisible into
            the row height, which sets up the possiblity
            for verticle flow
        */
        @section-line-height: (@section-row-height/2);
        
        /*
            For 'minor' listing areas in the section body,
            particularly the homepage features, fontsize is
            typically 12px, and a line-height of 18px
            is better suited.  Currently, this is visually
            the same as the @aside-line-height
        */
        @section-minor-line-height: 18px;

        /* Aside
        ---------------------------------------------- */
        @aside-width: @layout-aside-width; /* or 300px */
        @aside-gutter: 20px;
        
        @aside-columns: 10; /* 300px / 10 = 30px */
        @aside-column-width: @aside-width / @aside-columns;
        @aside-column-gutter: @aside-gutter;
        
        @aside-row-height: 38px; /* @aside-column-width; */
        @aside-row-gutter: @aside-gutter;
        
        @aside-line-height: 18px; /* (@aside-row-height/2) */
        
        /*
            A note on column/row width and gutters.
            
            The gutter is applied in halves, to either side of the column,
            or above and below the row.  So a column gutter of 10px, will be applied
            as margin-left: 5px; & margin-right: 5px;
            
            This way, the effective spacing between columns (or rows) is 10px.
        */
        
    /* Grid & Layout mixins
    ---------------------------------- */
    
        /* Abstracted for ANow from em-grid.less & grid.less */
    
        .grid-element {
            display: inline; /* or inline? */
            float: left;
        }
        .column(@column-gutter: @section-gutter) {
            /* This element should be considered as a column */
            .grid-element();
            margin-left: @column-gutter / 2;
        	margin-right: @column-gutter / 2;
        }
        .columns(@column-span: @section-columns) {
            .column();
            width: (@column-span * @section-column-width) - @section-column-gutter;
        }
        .column-shell() {
            .grid-element();
            margin-left: 0px;
            margin-right: 0px;
        }
        .row(@row-gutter: @section-gutter) {
            /* This element should be considered as a row */
            margin-top: @row-gutter / 2;
            margin-bottom: @row-gutter / 2;
        }
        .rows(@row-span: 1, @row-height: @section-row-height, @row-gutter: @section-row-gutter){
            .row();
            height: (@row-span - 1) * @row-height + (@row-height - @row-gutter);
        }
        .row-shell() {
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .shell(){
            margin: 0px;
        }
        .push(@column-span){position:relative;left:@column-width * @column-span;}
        .pull(@column-span){position:relative;left:@column-width * @column-span * -1;}
        .down(@row-span){position:relative;top:@row-height * @row-span;}
        .up(@row-span){position:relative;top:@row-height * @row-span * -1;}
        
        .prefix(@column-span){padding-left:@column-width * @column-span;}
        .suffix(@column-span){padding-right:@column-width * @column-span;}

        .alpha{margin-left:0;} /* first column */
        .omega{margin-right:0;} /* last column */
        .first{margin-left:0;}
        .last{margin-right:0;}
        .top{margin-top:0;}
        .bottom{margin-bottom:0;}

        .left{float:left;}
        .right{float:right;}
        .center{margin-left:auto;margin-right:auto;}
        
        .line-height(
            @row-height: @section-row-height,
            @lines-per-row: 1) {
            /*
                Sets the line-height of block text to work within rows
            */
            line-height: (@row-height / @lines-per-row);
        }
        .inline(
            @font-size: @font-size, 
            @lines-per-row: 2,
            @row-height: @section-row-height,
            @row-gutter: @section-row-gutter) {
             /* 
                Sets the styling of a inline text or
                block text without a gutter to work 
                with the grid vertical flow
                
                @lines-per-row should be set to a sensible
                default, depending on the row-height
            */  
            .line-height(@row-height, @lines-per-row);
            font-size: @font-size;
        }
        .paragraph(
            @font-size: @font-size, 
            @lines-per-row: 2,
            @row-height: @section-row-height,
            @row-gutter: @section-row-gutter
            ) {
            /* 
                Extends on inline to add row gutter support
                for block text
            */
            .inline(@font-size, @lines-per-row, @row-height);
            
            /* help block text to be recognised as .row() */
            .row(@row-gutter);
        }
        .paragraph-line-height (
            @font-size: @font-size, 
            @line-height: @section-line-height,
            @row-gutter: @section-row-gutter) {
            /*
                Instead of specifying @lines-per-row --
                specify a more explicit @line-height,
                that won't change depending on @row-height
            */
            font-size: @font-size;
            line-height: @line-height;
            .row(@row-gutter);
        }
        .paragraph-inline-block (
            @font-size: @font-size, 
            @lines-per-row: 2,
            @row-height: @section-row-height,
            @row-gutter: @section-row-gutter) {
            /*
                In safari and chrome, top row margin
                seems to be ignored.  Use where its
                safe to declare text as an inline-block.
            */
            .paragraph(@font-size, @lines-per-row, @row-height, @row-gutter);
            display: inline-block;
        }
        

/* General Stylesheet
------------------------------------------------------------ */
        

html{
    background: @base-background-shade url('/site_media/static/images/stripe.png') repeat;
    height: 100%;
}

#wrapper{
    width: @layout-body-width;
    margin: 0 auto 40px;
    background: @base-body-color;
    .box-shadow(0, 0, 10px, #AAA);
    .rounded-bottom(10px);
}

/* Header
----------*/
    
#main-header{
    padding: @layout-gutter @layout-gutter 0;
    overflow: visible;

    #logo{
        text-indent: -9999px;
        background: url('/site_media/static/images/efo-logo-header.png') no-repeat;
        width: 178px;
        height: 87px;
        float:left;
        margin: 0 0 20px;
    }
    #search{
        float:right;
        height: 80px;
        vertical-align:bottom;
        position: relative;
        margin: 0 0 20px;
        form{
            position: absolute;
            bottom: 0px;
            right: 0px;
            input{
                padding: 3px;
                border: 2px solid @yellow;
                font-family: @font-family;
                font-size: 10px;
                line-height: 1.5em;
                width: 214px;
                background: @yellow;
                color: @red;
                &:focus, &:active{
                    outline: none;
                    border: 2px solid @red;
                }
            }
            input::-webkit-input-placeholder{
                color: @red;
            }
            input:-moz-placeholder{
                color: @red;
            }
        }
    }
    nav#main{
        clear: both;
        height: 60px;
        margin: 0;
        ul#dropline{
            .box-shadow(0, 2px, 5px, #AAA);
            background: @red;
            padding: 0 @layout-gutter/2;
            margin: 0 -20px;
            list-style: none;
            height: 30px;
            position: relative;
            table{
                /* don't know why this is here, there's no table in the markup */
                border-collapse: collapse;
                width: 0;
                height: 0;
                margin: -3px -10px;
            }
            li{
                float: left;
                a{
                    display: block;
                    float: left;
                    height: 30px;
                    line-height: 30px;
                    padding: 0;
                    color: white;
                    font-family: @font-family;
                    font-size: 10px;
                    text-decoration: none;
                    text-transform: uppercase;
                    width: inherit;
                    padding: 0 @layout-gutter/2;
                }
                ul{
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    position: absolute;
                    height: 30px;
                    min-width: 550px;
                    background: @yellow;
                    left: -9999px;
                    top: 30px;
                    z-index: 10;
                    .rounded-bottom(5px);
                    .box-shadow(0, 3px, 4px, #AAA);
                    li{
                        a{
                            font-weight: bold;
                            color: @black;
                        }
                    }                    
                }
                &:hover{
                    background: @yellow;
                    > a{
                        color: @red;
                    }
                    ul{
                        left: 20px;                        
                    }
                }
                &.selected, &.ancestor{
                    background: @yellow;
                    > a{
                        color: @red;
                    }
                }
                &.ancestor{
                    /* This shows the parent of the current page, but needs all items to have submenus to work properly */
                    ul{                        
                        left: 20px;
                        z-index: 1;
                    }
                    
                }
            }
        }
    }
}


/* Content 
----------*/

#content{
    padding: 0 @layout-gutter;
    width: auto;
    overflow: hidden;
    zoom: 1;
    background: #FAFAFA;
    section#body{
        padding: @layout-gutter 0 @layout-gutter;
        font-family: @font-family;
        font-size: 12px;
        color: @black;
        overflow: hidden;
        zoom: 1;
        line-height: 1.4em;
        width: auto;
        
        /* This is basically the style guide that determines the styles and layouts of most content */
        p{
            margin-bottom: 20px;
        }
        a{
            color: @red;
            text-decoration: none;
            &:hover, &:focus{
                text-decoration: underline;
                color: @yellow;
            }
        }
        ul, ol{
            list-style-position: outside;
            padding-left: 30px;
            margin-bottom: 20px;
            li{
                padding-left: 10px;
                margin: 0 0 5px;
            }            
        }
        ul{
            list-style-type: disc;
        }
        ol{
            list-style-type: decimal;
        }
        h1{
            font-size:40px;
            line-height: 1.2em;
            color: @off-black;
            text-transform: uppercase;
            font-weight: bold;
            margin: -7px 0 22px;
        }
        h2{
            font-size: 20px;
            color: @off-black;
            line-height: 1.2em;
            font-weight: bold;
            margin: 0 0 16px;
        }
        h3{
            font-size: 16px;
            color: @off-black;            
        }               
    }
}


/* Feature Images & Slideshows
-------------------------------*/

#content section#body{ 
    .feature-image-wrapper{
        float: right;
        clear: right;
        margin: 0 0 @layout-gutter @layout-gutter;
        line-height: 0;
        position: relative;
        .feature-image-container{
            img{
                border: 2px solid @soft-grey;
            }
            .feature-image-caption{
                padding: 3px 4px 0;
                font-size: 11px;
                line-height: 1.2em;
                color: lighten(@off-black, 15%);
                min-height: 20px;
                p{
                    margin: 0;
                }
            }
        }
        .feature-image-container.about{
            max-width: 340px;
            img{
                max-width: 336px;
                height: auto;                
            }
        }
        .feature-image-container.programme, .feature-image-container.project{
            width: 460px;
        }
        .feature-image-controls{
            z-index: 999;
            position: absolute;
            right: 5px;
            top: 294px;
            width: auto;
            a{
                display: block;
                float: left;
                margin: 0 3px;
                width: 20px;
                height: 20px;
                line-height: 20px;
                background: @red;
                color: white;
                font-weight: bold;
                text-align: center;
                &:hover, &:focus{
                    cursor: pointer;
                    background: @yellow;
                }
            }
        }
    }    
}


/* Homepage feature slider 
--------------------------*/

#content section#body #home-features{
    width: @layout-section-width;
    overflow: hidden;
    zoom: 1;
    position: relative;
    .home-features{
        width: @layout-section-width;
        margin: 0 -10px;
        overflow: hidden;
        zoom: 1;
        .home-feature{
            clear:both;
            figure.home-feature-figure{
                line-height: 0;
                width: auto;
                overflow: hidden;
                zoom: 1;
                .home-feature-figure-image{
                    .columns(5);
                    a img{
                        border: 2px solid @red;
                    }
                }
                figcaption.home-feature-figcaption{
                    .columns(3);
                    h2{
                        font-size:40px;
                        line-height: 1.2em;
                        color: @off-black;
                        text-transform: uppercase;
                        margin: -7px 0 @layout-gutter;
                    }
                    span.object-excerpt{
                        display: block;
                        line-height: 1.4em;
                        margin-bottom: 1em;
                    }
                    a.object-read-more{
                        display: block;
                        text-decoration: none;
                        color: @red;
                        &:hover, &:focus{
                            text-decoration: underline;
                            color: @yellow;
                        }
                    }
                }                
            }
        }
    }
    .home-feature-buttons{
        position: absolute;
        left: 0;
        .columns(3);
        bottom: 0px;
        z-index: 40;
        text-align: right;
        margin-left: 0;
        a{
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0 0 0 10px;
            background: @red;
            vertical-align: top;
            line-height: 20px;
            text-align: center;
            color: white !important;
            text-decoration: none;
            font-weight: bold;
            &.active, &:hover, &:focus{
                background: @yellow;
                text-decoration: none;
            }
            
        }
    }
}


/* Programme and Project lists 
------------------------------*/

.programme-list-item, .project-list-item{
    .row();
    overflow: hidden;
    zoom: 1;
    border-bottom: 2px solid @soft-grey;
    padding: 0 0 20px;
    float: left; /* prevent 'margin fusion' */
    clear: both;
    &.last{
        border-bottom: none;
        padding: 0;
        margin-bottom: 0;
    }
    &.first{
        margin-top: 0;
    }
    .programme-list-item-content, .project-list-item-content{
        .columns(5);
        margin-left: 0;
    }
    .programme-list-item-thumbnail, .project-list-item-thumbnail{
        .columns(3);
        margin-right: 0;
        line-height: 0;
        img{
            border: 2px solid @soft-grey;
        }
        a:hover img, a:focus img{
            border: 2px solid darken(@soft-grey, 20%);
        }
    }
}

/* Blogs 
-------------*/

#content section#body{
    .blog-entry-list{
        .hentry{
            border-bottom: 2px solid @soft-grey;
            margin: 20px 0 0;
            &.first{
                margin: 0;
            }
            &.last{
                //border-bottom: none;
                margin-bottom: 20px;
            }
        }
    }
    .single-entry{
        border-bottom: 2px solid @soft-grey;
        margin: 0 0 @layout-gutter;
    }
    .entry-header{
        margin-bottom: @layout-gutter;
        h2{
            font-size: 24px;
        }
        .entry-title{
            margin: 0 0 @layout-gutter/2;
            font-weight: bold;
            text-transform: uppercase;
            a{                    
                color: @off-black;
                &:hover{
                    text-decoration: underline;
                    color: @yellow;
                }
            }
        }
        .entry-info{
            color: @grey;
        }           
    }
    .entry-body{
        width: auto;
        overflow: hidden;
        zoom: 1;
	.entry-image, img{
	    float: right;
	    margin: 0 0 @layout-gutter @layout-gutter;
	    border: 2px solid @soft-grey;
	    max-width: 360px;
	    height: auto;
	}   
	.entry-image img{
	    margin: 0;
	    border: none;
	}
    }
    .entry-footer{
        margin-bottom: @layout-gutter;
        > p{
            margin: 0;
            color: @grey;
        }
    }
    .entry-widgets{
        border-bottom: 2px solid @soft-grey;
        margin: 0 0 @layout-gutter;
        ul{
            list-style: none;
            padding: 0;
            li{
                padding: 0;
            }
        }
        h3{
            text-transform: uppercase;
            font-size: 14px;
            margin-bottom: 5px;
        }
    }
    .comments-tracks-pings{
        border-bottom: 2px solid @soft-grey;
        margin: 0 0 @layout-gutter;
        h3{
            text-transform: uppercase;
            font-size: 14px;
            margin-bottom: 5px;
        }
        #trackbacks, #pingbacks{
            border-bottom: 1px dashed lighten(@soft-grey, 5%);
            margin: 10px 0;
        }
        #comments{
            cite{
                background: #F2F2F2;
                border: 1px solid darken(#F2F2F2, 10%);
                padding: 10px;
                display: block;
            }
        }
    }
    .commentForm{
        legend{
            color: @off-black;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            display: block;
            padding: 0 0 @layout-gutter;
        }
        label{
            display: inline;
        }
    }
}

/* Search Results 
------------------*/
#content section#body #searchResults{
    ul, li{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    ul{
        li{
            margin: @layout-gutter 0;
            border-bottom: 2px solid @soft-grey;
            &.last{
                border-bottom: none;
            }
            h3{
                margin: 0 0 @layout-gutter/2;
            }
            p.result-excerpt{
                margin: 0 0 @layout-gutter;
            }
        }
    }
}

/* Programme Staff 
------------------*/

#content section#body .group-of-people{
    h2{
        text-transform: uppercase;
    }
    .people-single{
        clear: both;
        overflow: hidden;
        zoom: 1;
        width: auto;
        figure.people-figure{
            float: left;
            margin: 0 @layout-gutter @layout-gutter 0;
            line-height: 0;
            img{
                border: 1px solid @soft-grey;
            }
        }
        h3.people-title, p.people-biography{
            margin-left: 120px;
        }
        h3.people-title{
            margin-bottom: @layout-gutter/2;
        }
    }
}

/* Contact Us
---------------*/

#content section#body #contact-us-social-media{
    ul, li{
        list-style: none;
        padding: 0;
    }
    ul li{
        display: inline;
    }
}


/* Forms 
---------- */
form{
    label{
        text-transform: uppercase;
        color: @off-black;
        display: block;
    }
    input[type=text], textarea{
        border: 1px solid @soft-grey;
        width: 340px;
        font-size: 11px;
        color: @off-black;
        line-height: 1.3em;
        padding: 5px;
        margin: 0 0 @layout-gutter/2;
    }
    li{
        list-style: none;
        padding: 0;
    }
}


/* Programmes Flowchart 
-----------------------*/
#content section#body #programmes-flowchart{
    .programmes-flowchart-box{
        margin: 0 auto;
        width: 240px;
        text-align: center;
        position: relative;
        span.programme-number{
            font-size: 64px;
            line-height: 64px;
            color: @red;
            font-weight: bold;
            position: absolute;
        }
        h2{
            text-transform: uppercase;
            text-align: center;
            margin: 0;
        }
        img{
            width: 230px;
            height: 135px;
            border: 5px solid @red;
            .rounded(5px);
        }
        p{
            text-align: left;
            font-size: 11px;
            color: @grey;
            padding: 0 5px;
            a{
                font-weight: bold;
            }
        }
        &#programmes-flowchart-box-1{
            background: url('/site_media/static/images/flowchart-down.gif') center bottom no-repeat;
            padding-bottom: 60px;
            margin-bottom: 20px;
            span.programme-number{
                left: -60px;
                top: 60px;
            }
            p{
                position: absolute;
                top: 25px;
                left: 250px;
                width: 265px;
            }            
        }
        &#programmes-flowchart-box-2{
            z-index: 999;
            span.programme-number{
                right: -60px;
                top: 70px;
            }
            p{
                position: absolute;
                left: -270px;
                top: 25px;
                width: 250px;
            }
        }
        &#programmes-flowchart-box-3{
            background: url('/site_media/static/images/flowchart-downleft.gif') top right no-repeat;
            padding-top: 20px;
            padding-right: 50px;
            span.programme-number{
                left: -50px;
                top: 80px;
            }
        }
        &#programmes-flowchart-box-4{
            background: url('/site_media/static/images/flowchart-downright.gif') top left no-repeat;
            padding-top: 20px;
            padding-left: 50px;
            span.programme-number{
                right: -50px;
                top: 80px;
            }
        }
    }
    .programmes-flowchart-box-bottom{
        width: auto;
        margin: 0 auto;
        overflow: hidden;
        zoom: 1;
        position: relative;
        margin-bottom: -50px;
        #programmes-flowchart-box-3{
            float: left;
            margin-left: 50px;
        }
        #programmes-flowchart-box-4{
            float: right;
            margin-right: 50px;
        }
    }
    
}

/* Contribute 
---------------*/
#content section#body{
    .content-wrapper{
        width: inherit;
        margin: 0 -10px;
    }
    div#contribute-form-wrapper{
        .columns(3);
        overflow: hidden;
        zoom: 1;
        .donation-info{
            font-size: 12px;
            color: @yellow;
            font-weight: bold;
            border-radius: 10px;
            margin: 10px;
            padding: 8px;
            background: @red;
        }
        .paypal-donations{
            float: right;
            overflow: hidden;
            zoom: 1;
            border: 6px solid @red;
            padding: @layout-gutter;
            .rounded(10px);
            background: @yellow;
            h4{
                text-align: center;
                text-transform: uppercase;
                color: @red;
                font-size: 24px;
                line-height: 1.3em;
                margin: 0 0 @layout-gutter;
            }
            form{
                p{
                    clear: both;
                    margin: 0 0 15px;
                }
                label.choose-donation-type{
                    font-size: 12px;
                    width: 250px;
                    font-weight: normal;
                    text-transform: none;
                }
                label{
                    float: left;
                    display: block;
                    width: 136px;
                    color: black;
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 24px;
                }
                input{
                    float: left;
                }
                select{
                    width: 150px;
                }
                input[type=text]{
                    width: 142px;
                    padding: 4px;
                }
                input[type=image]{
                    float: right;
                    color: white;
                    border: none;
                    outline: none;
                    text-transform: uppercase;
                    font-size: 18px;
                    line-height: 1.4em;
                }
            }
        }
    }
    div#contribute-content{
        .columns(5);
    }
}

.pagination{
    span, a{
        display: inline-block;
        min-width: 14px;
        height: 20px;
        padding: 3px 5px;
        margin: 0 0 0 10px;
        background: @red;
        vertical-align: top;
        line-height: 20px;
        text-align: center;
        color: white !important;
        text-decoration: none;
        font-weight: bold;
        &.current{
            background: @yellow;
        }
        &.disabled{
            background: @soft-grey;
        }
    }   
    a:hover, a:focus{
        background: @yellow;
        text-decoration: none;
    }
}

.paginator{
    margin: @layout-gutter 0 0;
    .index{
        margin-right: @layout-gutter;
    }
    a, span.current, span.index{
        display: inline-block;
        min-width: 14px;
        height: 20px;
        padding: 3px 5px;
        margin: 0 0 0 10px;
        background: @red;
        vertical-align: top;
        line-height: 20px;
        text-align: center;
        color: white !important;
        text-decoration: none;
        font-weight: bold;
        &.current{
            background: @yellow;
        }
        &.disabled{
            background: @soft-grey;
        }
    }   
    a:hover, a:focus{
        background: @yellow;
        text-decoration: none;
    }
}


/* Footer
---------*/

footer#main-footer{
    font-family: @font-family;
    font-size: 12px;
    color: rgb(128, 128, 128);
    padding: 0 @layout-gutter;
    position: relative;
    width: 960px;
    margin: 0 auto;
    div{
        border-top: 2px solid #F2F2F2;
        padding-top: @layout-gutter/2;
        line-height: 1em;
    }
    #cc{
        position: absolute;
        right: 0;
        top: 70px;
    }
    ul{
        position: absolute;
        top: 10px;
        right: 20px;
        list-style-type:none;
        padding:0;
        margin:0;
        text-align:right;
        li{
            padding:0;
            margin:0;
        }
    }
    a{
        color: inherit;
        text-decoration: none;
        &:hover, &:focus{
            color: @yellow;
            text-decoration: underline;
        }
    }
}

/* Sticky footer */

footer#main-footer, #footer-push{
    height:30px;
}

html, body{
    height:100%;
}

#wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px;
}
