{% extends "site_base.html" %}
{% load cms_tags %}
{% load thumbnail %}

{% block extra_head %}
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/jquery/plugins/min/jquery.cycle.all.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/efo/efo-features.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/efo/efo-homefeatures.js"></script>
{% endblock %}

{% block body %}
    {# Show the main feature #}
    {% if home_features %}
    
        {% with home_features|first as feature %}
            <section id="home-features">
                <div class="home-features">
                    {% for feature in home_features %}
                    <div class="home-feature{% if forloop.first %} first{% else %} sibling{% endif %}" feature_number="{{ forloop.counter0 }}">
                        <figure class="home-feature-figure">
                            <figcaption class="home-feature-figcaption">
                                    <h2>{{ feature.content_object.name }}</h2>
                                    <span class="object-excerpt">
                                        {{ feature.feature_summary }}
                                    </span>
                                    <a href="{{ feature.content_object.get_absolute_url }}" class="object-read-more">Read more.</a>
                            </figcaption>
                            <div class="home-feature-figure-image">
                                {% thumbnail feature.content_object.feature_image "576x314" crop="center" as object_image %}
                                    {% with feature.content_object as object %}
                                        {% include "base/_object_thumbnail_anchor_image.html" %}
                                    {% endwith %}
                                {% endthumbnail %}
                            </div>
                        </figure>
                    </div>
                    {% endfor %}
                </div>
                <div class="home-feature-buttons">
                    {% for feature in home_features %}
                    <a href="#" class="home-feature-button {% if forloop.first %} active{% endif %}" feature_number="{{ forloop.counter0 }}">{{ forloop.counter }}</a>
                    {% endfor %}
                </div>
            </section>
    
        {% endwith %}
    
    {% endif %}
{% endblock body %}
