<nav id="articles-filter-nav">
    <ul id="articles-meta-filter">
        <li><a href="#" id="articles-nav-recent">Most recent</a></li>
        <li><a href="#" id="articles-nav-popular">Most popular</a></li>
        <li><a href="#" id="articles-nav-discussed">Most discussed</a></li>
    </ul>
	<select name="articles-time-filter" id="articles-time-filter" size="1">
	 <option value="most_recent">Most recent</option>
	 <option value="last_week">Last week</option>
	 <option value="last_month">Last month</option>
	 <option value="last_year">Last year</option>
	 <option value="all_time">All time</option>
	</select>
	<hr>
</nav>
