<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	{% load i18n %}
	{% load cms_tags %}
	{% load empcom_cms_tags %}
	{% load menu_tags %}
  <head>
    <link rel="stylesheet" href="/media/style.css" />
    <link rel="icon" type="image/png" href="/media/favicon.ico" />
    <script type="text/javascript" src="/media/js/jquery.js"></script>
    <title>{% block title %}User test out{% endblock %}</title>
  </head>

	<body>
		<div id="site_container">
			<div id="title_section">
			    Energy For Opportunity
			</div>			
			{% block menu %}
			{% endblock menu %}

			<div id="breadcrumb">
				{% show_breadcrumb %}
			</div>
			{% block right_column %}
			<div id="right_column">
				{% if user.is_authenticated %}
					You are logged in!
				{% else %}
					<p>Hey buddy, you should log in!</p>
				{% endif %}
				{% block right_placeholder %}
				{% placeholder "right_column" %}&nbsp;
				{% endblock %}
				</div>
			{% endblock %}
			{% block content %}
					<div id="content">
						{% block guts %}
							{% placeholder "content" %}
						{% endblock %}
				</div>
			{% endblock %}
			<div id="footer">
				{% block footer %}
					{% block footer_placeholder %}
					{% placeholder "footer" %}&nbsp;
					{% endblock %}
				{% endblock %}
			</div>
		</div>
  </body>
</html>
