{% load thumbnail %}

<div id="{{ group_name }}">
    <h2>
        {{ group_name }}
    </h2>
    {% for person in people %}
        {% with person.get_profile as profile %}
        <h3>
            {{ person.first_name }} {{ person.last_name }} - {{ profile.profession }}
        </h3>
            <p>
                {{ profile.biography }}
                {% thumbnail profile.avatar "100x100" crop="center" as object_image %}
                    {% with programme as object %}
                        {% include "base/_object_thumbnail_anchor_image.html" %}
                    {% endwith %}
                {% endthumbnail %}
            </p>
        {% endwith %}
    {% endfor %}
</div>
