{% extends "site_base.html" %}
{% load cms_tags %}
{% load menu_tags %}

{% block body %}
    {% placeholder "people_generic_content" %}
        {% with programme_staff as people %}
            {% with 'Programme Staff' as group_name %}
                {% include "people/_group_of_people.html" %}
            {% endwith %}
        {% endwith %}
        {% with canadian_directors as people %}
            {% with 'Canadian Directors' as group_name %}
                {% include "people/_group_of_people.html" %}
            {% endwith %}
        {% endwith %}
        {% with australian_directors as people %}
            {% with 'Australian Directors' as group_name %}
                {% include "people/_group_of_people.html" %}
            {% endwith %}
        {% endwith %}
{% endblock body %}
