{% extends "programmes/programmes_container.html" %}
{% load cms_tags %}
{% load thumbnail %}

{% block extra_head %}
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/jquery/plugins/min/jquery.cycle.all.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function(){
           jQuery('#feature-images').cycle({
               prev: '#prev',
               next: '#next',
               timeout: 5000,
               pager: '#pager'
           }).cycle('resume'); 
           isPlaying = true;
           jQuery('a#pause').click(function(){
              jQuery(this).html('&#8250;');
              toggleCycle();
           });
           toggleCycle = function() {
               if (isPlaying) {
                 $('#feature-images').cycle('pause');
                 $('a#pause').html('&#8250;');
                 isPlaying = false;
               } else {
                 $('#feature-images').cycle('resume').cycle('next');
                 $('a#pause').html('||');
                 isPlaying = true;
               }
           }
        });
    </script>
{% endblock %}

{% block body %}
    {% placeholder "detail_content" %}
    <div class="feature-image-wrapper">
        <div id="feature-images" class="feature-image-container programme">
            {% for image in programme.slideshow_images %}
                <figure class="feature-image-figure">
                    <a href="{{ MEDIA_URL}}{{ image.image }}" title="open image" class="open">
                    {% thumbnail image.image "456x316" crop="center" as object_image %}
                        <img 
                            alt="{{ object_image.title }}"
                            src="{{ object_image.url }}"
                            width="{{ object_image.width }}" 
                            height="{{ object_image.height }}" 
                            class="full" />
                    {% endthumbnail %}
                    </a>
                    <figcaption class="feature-image-caption">
                        <p>{{ image.caption }}</p>
                    </figcaption>
                </figure>
            {% endfor %}
        </div>
        <div class="feature-image-controls">
            <span id="pager"></span>
            <a id="pause">||</a>            
        </div>
    </div>
    <h1>
        {{ programme.name }}
    </h1>
    
    <h2>
        Project Needs and Beneficiaries
    </h2>
    {{ programme.needs|safe }}
    <p>
        <a href="/projects/by-programme/{{ programme.slug }}">Click here to view EFO's past and present {{ programme.name }} projects</a>
    </p>
    <h2>
        Objectives
    </h2>
    {{ programme.objectives|safe }}
    <h2>
        Activities
    </h2>
    {{ programme.activities|safe }}
    <h2>
        Potential Long Term Impact
    </h2>
    {{ programme.long_term_impact|safe }}
    <h2>
        Funding Information
    </h2>
    {{ programme.funding_info|safe }}
    <h2>
        How To Help
    </h2>
    {{ programme.how_to_help|safe }}
{% endblock body %}
