{% extends "programmes/programmes_container.html" %}
{% load cms_tags %}
{% load thumbnail %}

{% block extra_head %}
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/mootools/mootools.v1.11.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/jdgallery/jd.gallery.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jd.gallery.css">
    <script type="text/javascript">
        function startGallery() {
            var myGallery = new gallery($('myGallery'), {
            timed: false
            });
        }
        window.addEvent('domready', startGallery);
    </script> 
{% endblock %}

{% block body %}
    {% placeholder "detail_content" %}
    <div id="myGallery">
        {% for image in programme.slideshow_images %}
            <div class="imageElement">
                <h3>{{ image.caption }}</h3>
                <p>{{ image.caption }}</p>
                <a href="{{ MEDIA_URL}}{{ image.image }}" title="open image" class="open"></a>
                {% thumbnail image.image "456x316" crop="center" as object_image %}
                    <img 
                        alt="{{ object_image.title }}"
                        src="{{ object_image.url }}"
                        width="{{ object_image.width }}" 
                        height="{{ object_image.height }}" 
                        class="full" />
                {% endthumbnail %}
                {% thumbnail image.image "100x100" crop="center" as object_image %}
                    <img 
                        alt="{{ object_image.title }}"
                        src="{{ object_image.url }}"
                        width="{{ object_image.width }}" 
                        height="{{ object_image.height }}" 
                        class="thumbnail" />
                {% endthumbnail %}
            </div>
        {% endfor %}
    </div>
    <h1>
        {{ programme.name }}
    </h1>
    
    <h2>
        Project Needs and Beneficiaries
    </h2>
    <p>
        {{ programme.needs|safe }}
    </p>
    <h2>
        Objectives
    </h2>
    <p>
        {{ programme.objectives|safe }}
    </p>
    <h2>
        Activities
    </h2>
    <p>
        {{ programme.activities|safe }}
    </p>
    <h2>
        Potential Long Term Impact
    </h2>
    <p>
        {{ programme.long_term_impact|safe }}
    </p>
    <h2>
        Funding Information
    </h2>
    <p>
        {{ programme.funding_info|safe }}
    </p>
    <h2>
        How To Help
    </h2>
    <p>
        {{ programme.how_to_help|safe }}
    </p>
{% endblock body %}
