{% extends "programmes/programmes_container.html" %}
{% load cms_tags %}
{% load thumbnail %}

{% block body %}
    {% placeholder "listing_content" %}
    {% for programme in programmes %}
        <section class="programme-list-item">
            <h2>
                {{ programme.name }}
                {% thumbnail programme.summary_image "100x100" crop="center" as object_image %}
                    {% with programme as object %}
                        {% include "base/_object_thumbnail_anchor_image.html" %}
                    {% endwith %}
                {% endthumbnail %}
            </h2>
            <p>
                {{ programme.summary }}
                {% url programme_view programme.slug as programme_detail_url %}
                <a href="{{ programme_detail_url }}">Read more...</a>
            </p>
        </section>
    {% endfor %}
{% endblock body %}
