{% extends "base.html" %}

{% load i18n %}
{% load analytics %}
{% load cms_tags %}
{% load empcom_cms_tags %}
{% load menu_tags %}

{% block head_title %}
    EFO - {% show_breadcrumb 1 "efocms/title_breadcrumb.html" %}
{% endblock %}

{% block extra_head_base %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dropline.css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/efo/efo-nav-main.js"></script>
    {% block extra_head %}
    {% endblock %}
{% endblock %}

{% block header_before %}
{% endblock %}

{% block body_class %}
    {{ block.super }}
{% endblock %}

{% block logo_link_image %}
    <span>Energy For Opportunity</span>
{% endblock %}

{% block user %}
{% endblock %}

{% block search %}
    <div id="search">
        <form id="search-form" action="{% url haystack_search %}" method="get">
            <input type="text" placeholder="Search" name="q" value="" id="q">
            <!-- input type="submit" value="search" id="search_submit" -->
{#            <input id="find_submit" class="button" type="submit" value="" >#}
{#            <div class="loading"><img src="/site_media/static/img/ajax-loader.gif" alt="Loading..." width="16" height="16">#}
{#            </div> #}
        </form>
    </div>
{% endblock %}

{% block nav_main %}    
    <ul id="dropline">
        {% spaceless %}
            {% block menu %}
                {% show_menu 0 100 100 100%}
            {% endblock menu %}
        {% endspaceless %}
    </ul>
{% endblock %}

{% block right_tabs %}{% endblock %}
{% block right_column %}{% endblock %}
{% block body %}
    <div class="page-content">
        {% placeholder "content" %}
    </div>
{% endblock %}


{% block aside_outer %}
{% endblock %}

{% block footer_before %}
{% endblock %}

{% block footer %}
    <div>
        {% show_placeholder "content" "footer-container" %}
    </div>
{% endblock %}

{% block extra_body_base %}
    {% ga %}
    {% block extra_body %}
    {% endblock %}
{% endblock %}
