{% extends "site_base.html" %}
{% load cms_tags %}

{% block body %}
    <div class="content-wrapper">

        <div id="contribute-content">
            <h1>Contribute</h1>
            {% placeholder "page_heading" %}
            {% placeholder "content" %}
        </div>
    
        <div id="contribute-form-wrapper">
            <div class="paypal-donations">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <h4>Make a one time donation</h4>
                    <input name="cmd" type="hidden" value="_donations" />
                    <input type="hidden" name="on0" value="Donation to Energy For Opportunity">
                    <input type="hidden" name="os0" value="Official Donation Receipt For Income Tax Purposes">
                    <input type="hidden" name="on1" value="Charity BN/Registration Number">
                    <input type="hidden" name="os1" value="80016 8551 RR0001">
                    <input type="hidden" name="on2" value="Canadian charity address">
                    <input type="hidden" name="os2" value="PO Box 1234, Station A, Windsor, ON, N9A6P8">
                    <input type="hidden" name="on3" value="Donation received">
                    <input type="hidden" name="os3" value="April 28, 2011">
                    <input name="business" type="hidden" value="GW7BW37PJY392" />

                    <input name="return" type="hidden" value="http://www.energyforopportunity.org/contribute/thank-you/" />
                    <p>
                        <label for="amount">Amount</label>
                        <input type="text" name="amount" value="">
                    </p>
                    <p>
                        <label for="currency_code">Currency</label>
                            <select id="currency_code" name="currency_code">
                            <option value="AUD">Australian Dollars (A $)</option>
                            <option value="CAD">Canadian Dollars (C $)</option>
                            <option value="EUR">Euros (€)</option>
                            <option value="GBP">Pounds Sterling (£)</option>
                            <option selected="selected" value="USD">U.S. Dollars ($)</option>
                        </select>
                    </p>
                    <p>
                        <label for="item_name">Support</label>
                        <select id="item_name" name="item_name">
                            <option value="University Based Solar Electricity Courses">University Based Solar Electricity Courses</option>
                            <option value="Community Solar Charging Stations">Community Solar Charging Stations</option>
                            <option value="Power Systems for Secondary Schools">Power Systems for Secondary Schools</option>
                            <option value="Electricity for Rural Health Clinics">Electricity for Rural Health Clinics</option>
                            <option selected="selected" value="Support renewable energy solutions in West Africa">Where ever it helps most!</option>
                        </select>
                    </p>
                    <p>
                        <input type="image" alt="Donate to EFO via PayPal - The safer, easier way to pay online." title="Donate to EFO via PayPal - The safer, easier way to pay online." name="submit" src="https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" value="Donate" />
                    </p>
                </form>
            </div>
            {% comment %}
            <div class="paypal-donations" style="display:none;">
                <h4>Make a monthly donation:</h4>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <input type="hidden" name="cmd" value="_xclick-subscriptions">
                    <input type="hidden" name="p3" value="24">
                    <input type="hidden" name="t3" value="M">
                    <input type="hidden" name="business" value="GW7BW37PJY392">
                    <input name="cmd" type="hidden" value="_donations" />
                    <input alt="Donate to EFO via PayPal - The safer, easier way to pay online." title="Donate to EFO via PayPal - The safer, easier way to pay online." name="submit" src="https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" type="image" /> <img src="https://www.paypal.com/en_US/i/scr/pixel.gif" alt="" width="1" height="1" />
                    <p><span>Amount:</span></p>
                    <input type="text" id="a3" name="a3" value="">
                    <p><span>Preferred currency: </span></p>

                    <select id="currency_code" name="currency_code">
                        <option value="AUD">Australian Dollars (A $)</option>
                        <option value="CAD">Canadian Dollars (C $)</option>
                        <option value="EUR">Euros (€)</option>
                        <option value="GBP">Pounds Sterling (£)</option>
                        <option selected="selected" value="USD">U.S. Dollars ($)</option>
                    </select>
                    <p><span>Area to support:</span></p>
                    <select id="item_name" name="item_name">
                        <option value="University Based Solar Electricity Courses">University Based Solar Electricity Courses</option>
                        <option value="Community Solar Charging Stations">Community Solar Charging Stations</option>
                        <option value="Power Systems for Secondary Schools">Power Systems for Secondary Schools</option>
                        <option value="Electricity for Rural Health Clinics">Electricity for Rural Health Clinics</option>
                        <option selected="selected" value="Support renewable energy solutions in West Africa">Where ever it helps most!</option>
                    </select>
                </form>
            </div>
            {% endcomment %}
        </div>
    
    </div> 
{% endblock body %}
